.main {
    position: absolute;
    z-index: 2;
    top: 20%;
    // border: 1px solid red;
    text-align: center;
    right: 0;
    left:0;

    .name {
        color: white;
        letter-spacing: 9px;
        font-size: 65px;
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 0;
        opacity: .8;
    }
    .title {
        color: rgb(179, 176, 176);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 10px;
        margin-top: 0;
    }
    .quote {
        margin-top: 150px;
        color: orange;
    }
    .author {
        color: orange;
        font-weight: bold;
        font-style: italic;
    }
}

