.main {
    position: absolute;
    z-index: 2;
    top: 153px;
    // border: 1px solid red;
    text-align: center;
    right: 0;
    left:0;
    // transition: 1s;

    // .mainUp {
    // transition: .9s;

    // }


    // overflow: hidden;
    // ::-webkit-scrollbar {display: none;}

    .name {
        color: white;
        letter-spacing: 9px;
        font-size: 65px;
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 0;
        opacity: .8;
    }
    .title {
        color: rgb(179, 176, 176);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 10px;
        margin-top: 0;
    }
    .quote {
        margin-top: 150px;
        color: orange;
    }
    .author {
        color: orange;
        font-weight: bold;
        font-style: italic;
    }

    .bio {
        // border: 1px solid red;
        border-radius: 25px;
        color: white;
        background: rgba(20, 20, 25, .9);
        // background-color: black;
        margin: 80px;
        padding: 20px;
        // position: relative;
        // top: 220px;
        height: 60vh;
        margin-bottom: 80px;


        opacity: 0;

        // transition: .6s;

        scroll-behavior: smooth;

        p {
            opacity: .9;
        }
    }
}

