.name {
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    top: 40%;
    letter-spacing: 9px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}